<div class="ride-panel">
  <h4><%= link_to(ride.title, ride_path(ride)) %></h4>
  <p><%= ride.date.strftime("%A, %-d %B %Y, %I:%M %P") %></p>
  <p><%= ride.organizer.name %></p>
  <p><%= ride.riders.length %> riders</p>

</div>
